
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// Variables
@import 'mixins';
@import 'variables';
@import 'helpers';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~datatables/media/css/jquery.dataTables.css';

html,body {
  background-color: #fff;
  color: $primaryText;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Global
@import './vendoroverrides';
@import './hmpanel';
@import './overlay';
@import './panel';

// Admin
@import './admin/template/sidebar-template';
@import './admin/components/pageheader';
@import './admin/page-seller-login';
@import './admin/page-seller-signup';

// Front 
@import './front/header';
@import './front/main';