
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

// Variables
@import 'variables';
@import 'helpers';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body {
  background-color: #fff;
  color: $primary;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Front 
@import './front/header';
@import './front/main';