.main {
  position: relative;
  .section {
    background-color: $light;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    -webkit-box-shadow: 0px 5px 19px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 19px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 19px -1px rgba(0,0,0,0.75);
    left: 0;
    min-height: 100vh;
    padding-top: 75px;
    position: absolute;
    right: 0;
    @media (max-width: 991px) {
      box-shadow: none;
      min-height: 0;
      padding: 60px;
      position: relative;
    }
    &.current-section {
      top: 0;
    }
    &-home {
      background-image: url('../../img/home.jpg');
      @media(max-width: 991px) {
        min-height: 100vh;
      }
    }
    h2 {
      color: $primaryText;
      font-size: rem(48);
    }
    h4,p {
      font-weight: 300;
      font-size: rem(20);
      line-height: rem(32);
    }
    p {
      font-size: rem(16);
    }
    &-shop {
      // position: relative;
      &__grid {
        margin: 0 auto;
        @media(max-width: 767px) {
          width: 2000px;
        }
        &-item {
          overflow: hidden;
          width: 20%;
          @media(max-width: 767px) {
            // height: 400px;
            width: 100%;
          }
          img {
            display: block;
            height: 200px;
            object-fit: cover;
            @media(max-width: 767px) {
              height: 400px;
              // width: 100%;
            }
          }
          &-info {
            background-color: rgba(255,255,255,0.8);
            height: 100%;
            flex-wrap: wrap;
            left: 0;
            opacity: 0;
            padding: 10px;
            position: absolute;
            transform: scale(0.9);
            transition: all 0.3s ease-out;
            top: 0;
            width: 100%;
            h5 {
              a {
                color: $primaryText;
                text-align: center;
                width: 100%;
              }
            }
          }
          &:hover .section-shop__grid-item-info {
            opacity: 1;
            transform: scale(1);
          }
          &-price {
            p {
              // color: $primary;
              font-size: rem(16);
              font-weight: 600;
              span {
                font-size: rem(14);
                font-style: italic;
                font-weight: 400;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
    &-contact {
      h5 {
        margin-bottom: 20px;
      }
      &__info-wrapper {
        a {
          color: $primaryText;
          font-size: rem(18);
          transition: color 0.2s ease;
          &:hover {
            color: $primary;
          }
        }
      }
      &__info {
        margin-bottom: 30px;
      }
    }
  }
}